<div class="container">
  <div class="backbtn edit-user-button">
    <%= link_to myprofile_path do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
  <h2 class="form-actions edit-title">Edit <%= resource_name.to_s.humanize %></h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

  <div class="form-group">
    <label class="col-12 form-label">
    <div class="d-flex justify-content-center align-items-center w-100%">
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, crop: :pad, class: "avatar-edit rounded-circle" %>
      <% else %>
        <%= image_tag "logo.png", alt: "default avatar"%>
      <% end %>
    </div>
      <% if current_user.avatar.attached? %>
        <br />Current: <%= current_user.avatar.filename.to_s %>
      <% end %>
    </label>
    <div class="col-sm-8"><%= f.file_field :avatar, class: "form-control" %></div>
  </div>


    <div class="form-inputs">
      <%= f.input :name %>
        <h4>Current Work Address</h4>
      <%= f.input :address %>
      <%= f.input :bio %>
      <h3 class="form-actions">Become a chef?</h3>
      <div class="radios">
        <%= f.collection_radio_buttons :typeofuser, [[true, 'Yes'], [false, 'No']], :first, :last %>
      </div>
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class:"btn btn-secondary" %>
    </div>
  <% end %>
  <div class="form-actions user-cancel">
    <h3 class="cancel-title">Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>
