<h2 class="form-actions">Edit <%= resource_name.to_s.humanize %></h2>
<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

  <div class="form-group">
    <label class="col-sm-4 col-form-label">Avatar:
    <% if current_user.avatar.present? %>
      <%= cl_image_tag current_user.avatar.key, crop: :pad, class: "avatar-edit rounded-circle" %>
    <% else %>
      <img alt="image" class="rounded-circle" src="/assets/default_avatar_small.jpg">
    <% end %>
      <% if current_user.avatar.present? %><br />Current: <%= current_user.avatar.filename.to_s %><% end %>
    </label>
    <div class="col-sm-8"><%= f.file_field :avatar, class: "form-control" %></div>
  </div>


    <div class="form-inputs">
      <%= f.input :name %>
        <h4>Current Work Address</h4>
      <%= f.input :address %>
      <%= f.input :bio %>
      <h3 class="form-actions">Become a chef?</h3>
      <div class="radios">
        <%= f.collection_radio_buttons :typeofuser, [[true, 'Yes'], [false, 'No']], :first, :last %>
      </div>
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class:"btn btn-secondary" %>
    </div>
  <% end %>
  <div class="form-actions">
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back, class:"btn btn-primary"%>
  </div>
</div>
