<div class="container-index">
  <div class="container-index-title">
    <h1 class="index-title">Find your chef</h1>
  </div>

  <div class="index-search-form"><%= form_tag chefs_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "index-form-control",
      placeholder: "Who are you looking for?"
    %>
    <%= submit_tag "Search", class: "btn-index btn-primary" %>
    <% end %>
  </div>

  <div class="container-index">
    <div class="index-column flex-nowrap">
        <% @users.each do |user| %>
          <div class="container-index-card">
            <div class="index-card-icons d-flex">
              <i class="fa fa-regular fa-heart"></i>
              <i class="fa fa-light fa-eye"></i>
              <i class="fa fa-regular fa-star"></i>
            </div>
            <%= link_to chef_path(user) do %>
              <% if user.avatar.attached? %>
                <%= cl_image_tag user.avatar.key, height: 225, width: 100, class: "card-img-top"%>
              <% end %>
              <div class="index-text">
                <div class="index-card-name-rating">
                  <div class="index-card-text-name"> <%= user.name %> </div>
                  <% unless Review.where(reviewee_id: user.reviewees.ids.first).empty? %>
                    <% reviews = Review.where(reviewee_id: user.reviewees.ids) %>
                    <%ratings = []%>
                      <%reviews.each do |review|%>
                        <%ratings << review.rating%>
                      <%end%>
                    <% avg = ratings.sum / ratings.count.to_f %>
                    <div class="index-card-review-rating">
                      <div class="index-card-rating"><i class="fa fa-solid fa fa-star"></i><%=avg.round(1)%></div>
                      <div class="index-card-rating index-card-review-count">(<%= ratings.count %>)</div>
                    </div>
                  <% end %>
                </div>
                <div class="index-card-text-restaurant"><%= user.cuisine %></div>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>
