<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="chef-overview">
          <div class="banner" style="margin-bottom: 50px;">
            <div class="container">
            <% if @user.avatar.attached? %>
              <%= cl_image_tag @user.avatar.key, class: "avatar-xlarge rounded-circle" %>
            <% end %>
              <div class="follow-info-group">
                <p class="follow-info-item", id="following"><strong>235</strong></p><%= link_to "Following", '#', class: "following-item"%>
                <p class="follow-info-item", id="followers"><strong>149</strong></p><%= link_to "Followers", '#', class: "followers-item"%>
              </div>
            </div>
            <div class="follow-btn">
            <%= render @user %>
            </div>
            <%# <%= link_to "Unfollow" %>
          </div>
        </div>
          <h2 class="fw-light text-start" style="margin: 15px;"><%= @user.name %></h2>
          <p class="lead text-muted text-start" style="margin: 15px; font-size: 18px;"><%= @user.bio %></p>
          <% unless current_user == @user%>
            <%= link_to "Leave a review", new_review_path(@user), class: "btn btn-secondary my-2"%>
          <% end %>
      </div>
    </section>
    <section>
    <div class="album py-3 bg-light">
      <div class="container">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-review-tab" data-bs-toggle="pill" data-bs-target="#pills-review" type="button" role="tab" aria-controls="pills-review" aria-selected="false">Reviews</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-event-tab" data-bs-toggle="pill" data-bs-target="#pills-event" type="button" role="tab" aria-controls="pills-event" aria-selected="true">Events</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-experience-tab" data-bs-toggle="pill" data-bs-target="#pills-experience" type="button" role="tab" aria-controls="pills-experience" aria-selected="false">Experience</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent" >
          <div class="tab-pane fade show active" id="pills-event" role="tabpanel" aria-labelledby="pills-event-tab">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <h2 class="event-banner"><u class="underline-highlight">Events</u></h2>
                <%= render "event_card"  %>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
            <h2 class="event-banner"><u class="underline-highlight">Reviews</u></h2>
            <div class="card shadow-sm">
              <div class="card-body">
                <% @user.reviewee_relationships.each do |review| %>
                  <p><strong><%= review.reviewer.name %></strong></p>
                  <p><%= review.comment %></p>
                  <% if review.rating.present? %>
                    <p id="stars"><%= "★" * review.rating.round(1) %></p>
                  <% end %>
                  <p><%= review.created_at %></p>
                <% end %>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-experience" role="tabpanel" aria-labelledby="pills-experience-tab">
            <h2 class="event-banner"><u class="underline-highlight"> Experience</u> </h2>
            <div class="card shadow-sm">
              <div class="card-body">
                <% @user.resumes.each do |section| %>
                <ul>
                <li><%= section.experience %> | <%= section.start_date.to_date %> - <%= section.end_date.to_date %></li>
                </ul>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
