<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <div class="backbtn">
    <%= link_to chatrooms_path do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
  <div class="chat-avatar">
    <%= cl_image_tag @chatroom.photo.key %>
    <h1><%= @chatroom.name %></h1>
    <small class="text-muted">Last seen: <%= distance_of_time_in_words(@chatroom.created_at, Time.now) %> ago</small>
  </div>


  <div class="messages" data-chatroom-subscription-target="messages" data-id="<%= current_user.id%>">
    <% @chatroom.messages.each do |message| %>
      <% if message.user == current_user  %>
        <%= render "messages/message", message: message, css_class: 'sent-message' %>
      <% else  %>
        <%= render "messages/message", message: message, css_class: 'received-message' %>
      <% end %>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
  remote: true,
  html: {data: {chatroom_subscription_target: "form"}, class: "d-flex align-items-center"} do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary" %>
    <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📎' %>
</div>
  <% end %>
</div>
