<h1>Profile</h1>
<%= link_to "Create Event", new_event_path %>
<%= link_to "Add Experience", myprofile_experiences_new_path %>


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Events Below</h1>
        <p class="lead text-muted">Description of events or upcoming.</p>
        <p>
          <%= link_to "Create New Event", new_event_path, class: "btn btn-primary my-2"%>
          <%= link_to "Back To Feed", new_event_path, class: "btn btn-secondary my-2"%>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <% current_user.events.each do |event| %>
            <div class="card shadow-sm">
            <%= cl_image_tag event.photo.key, height: 225, width: 100, crop: :pad, class: "card-img-top"%>
              <div class="card-body">
                <h3 class="card-name"><% event.name %></h3>
                <h4 class="card-text"> <%= event.address %></h4>
                <p class="card-text"> <%= event.cuisine %></p>
                <p class="card-text"> <%= event.price %></p>
                <p class="card-text"> <%= event.category %></p>
                <p class="card-text"> <%= event.capacity %></p>
                <p class="card-text"> <%= event.event_time %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</main>
<nav class="nav">
  <div class="nav__link nav__link--active">
    <%= link_to myprofile_path do %>
      <i class="fas fa-search icon fa-2x"></i>
    <% end %>
  </div>
  <div class="nav__link nav__link--active">
    <%= link_to myprofile_path do %>
     <i class="far fa-newspaper icon fa-2x"></i>
    <% end %>
  </div>
   <div class="nav__link nav__link--active">
    <%= link_to myprofile_path do %>
     <i class="far fa-comments icon fa-2x"></i>
    <% end %>
  </div>
   <div class="nav__link nav__link--active">
    <%= link_to myprofile_path do %>
      <i class="fas fa-user-alt icon fa-2x"></i>
    <% end %>
  </div>
</nav>
