<% @events.each do |event| %>
  <% if %>
    <% !event.status %>
      <div class="card shadow-sm">
        <div class="card-body event-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="event-item">
              <div class="ei-name">
                <%= event.name %>
              </div>
              <div class="ei-date">
                <p class="cal-item" style="margin-right: 5px;"> 📅 </p><%= event.event_time.to_date %>
              </div>
              <div class="ei-price">
                <p class="price-item" style="margin-right: 3px;">￡</p><%= event.price %>
              </div>
              <div class="ei-cuisine">
                <%= event.cuisine %>
              </div>
              <div class="ei-cat">
                <%= event.category %>
              </div>
            </div>
            <% if event.photo.attached? %>
              <%= cl_image_tag event.photo.key, class: "event-photo"%>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
<% end %>
