<div class="container-homepage">
  <div class="container-homepage-title">
    <img class="homepage-logo" src="https://res.cloudinary.com/da35bgawq/image/upload/v1646676777/logo-new_font_eikul6.png" alt="logo">
    <%= link_to "Explore", chefs_path, class: "btn-explore" %>
  </div>
  <div class="container-trending">
    <h2><span class="trending-title">Trending</span><span class="trending-title-2"> in your area</span></h2>
    <div class="trending-scroll">
      <div class="row flex-nowrap">
        <% @users.each do |user| %>
        <div class="container-scroll-card">
          <%= link_to chef_path(user) do %>
            <div class="card-icons d-flex">
              <i class="fa fa-regular fa-heart"></i>
              <i class="fa fa-light fa-eye"></i>
              <i class="fa fa-regular fa-star"></i>
            </div>
            <% if user.avatar.attached? %>
              <%= cl_image_tag user.avatar.key, height: 225, width: 100, class: "card-img-top"%>
            <% end %>
              <h2 class="scroll-card-text-name" id="scroll-text"> <%= user.name %> </h2>
              <h3 class="scroll-card-text-restaurant" id="scroll-text"> <%= user.cuisine %> <h3>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "container-value">
    <div class="value-find">
      <h2><span class="find-text">Find</span> your favourite chefs</h2>
    </div>
      <%= image_tag "value_find_card.png", class: "value_card" %>
  </div>
  <div class= "container-value">
    <div class="value-reward">
      <h2><span class="reward-text">Reward</span> your chefs</h2>
    </div>
      <%= image_tag "value_reward_card.png", class: "value_card" %>
  </div>
    <div class= "container-value">
    <div class="value-follow">
      <h2><span class="follow-text">Follow</span> your chefs and receive updates</h2>
    </div>
      <%= image_tag "value_follow_card.png", class: "value_card" %>
  </div>
</div>
