
<h1 class="feed-header underline-highlight">Social feed</h1>

<button type="button" class="postbtn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">+ Add a post</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= render 'form', post: @post %>
      </div>
    </div>
  </div>
</div>

<% @posts.each do |post| %>
  <div class="container feed">
    <div class="col-md-7">
        <div class="social-feed-box">
          <div class="social-avatar">
              <%= cl_image_tag post.user.avatar.key %>
              <span class="username-style">
              <%= link_to post.user.name, chef_path(post.user)%>
              </span>
              <br>
              <small class="text-muted"><%= distance_of_time_in_words(post.created_at, Time.now) %> ago</small>
          </div>

          <div class="social-body">
            <p>
              <strong><%= post.title %></strong><br>
              <%= post.text %>
            </p>

            <% if post.photo.attached? %>
              <%= cl_image_tag post.photo.key,class: "img-responsive w-100"%>
            <% end %>
            <hr>
            <div class="btn-group-feed">
              <button class="btn btn-white btn-xs"><i class=" fa fa-regular fa fa-thumbs-up"></i>Like</button>
              <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i>Comment</button>
              <button class="btn btn-white btn-xs"><i class="fa fa-share"></i>Share</button>
            </div>
          </div>
        </div>
    </div>
  </div>
<% end %>
  <br>
  <br>
  <br>
