<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<h1 class="feed-header underline-highlight">Happenings</h1>

<button type="button" class="btn btn-secondary postbtn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">+</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= render 'form', post: @post %>
      </div>
    </div>
  </div>
</div>

<% @posts.all.each do |post| %>
  <div class="container feed">
    <div class="col-md-7">
        <div class="social-feed-box">
          <div class="social-avatar">
            <%= cl_image_tag post.user.avatar.key %>
            <%= post.user.name %>
            <small class="text-muted"><%= post.created_at %></small>
          </div>

          <div class="social-body">
            <p>
              <strong><%= post.title %></strong><br>
              <%= post.text %>
            </p>

            <% if post.photo.attached? %>
              <%= cl_image_tag post.photo.key,class: "img-responsive"%>
            <% end %>

            <div class="btn-group">
              <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i></button>
              <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i></button>
              <button class="btn btn-white btn-xs"><i class="fa fa-share"></i></button>
            </div>
          </div>
        </div>
    </div>
  </div>
<% end %>
