<div class="container">
  <div class="container-form review">
    <%= simple_form_for @review, url: chef_reviews_path(@user) do |f| %>
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
      <%= f.input :comment, as: :text %>
      <%= f.submit "Submit your review", class: "btn btn-secondary" %>
      <%= link_to "Back", myprofile_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
