<div class="container resume-form">
  <%= simple_form_for @resume, url: myprofile_experiences_path do |section| %>
    <%= section.input :title %>
    <%= section.input :experience %>
    <%= section.input :location %>
    <%= section.input :start_date %>
    <%= section.input :still_working, label: "present" %>
    <%= section.input :end_date %>
    <%= section.submit class: "submit_button" %>
  <% end %>
</div>
